* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Starjedi';
  src: url('fonts/Starjedi.ttf') format('truetype');
}

body {
  height: 150vh;
  background: radial-gradient(ellipse at bottom, #1c2837 0%, #050608 100%);
  overflow: auto;
  color: white;
  font-family: Arial, sans-serif;
}

.space-background {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  overflow: hidden;
}

.space-background::before,
.space-background::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 200%;
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%"><circle cx="50" cy="50" r="1" fill="white" /><circle cx="200" cy="150" r="1" fill="white" /><circle cx="300" cy="300" r="1" fill="white" /><circle cx="400" cy="50" r="1" fill="white" /><circle cx="500" cy="200" r="1" fill="white" /><circle cx="700" cy="100" r="1" fill="white" /><circle cx="800" cy="250" r="1" fill="white" /><circle cx="900" cy="400" r="1" fill="white" /><circle cx="100" cy="500" r="1" fill="white" /><circle cx="250" cy="600" r="1" fill="white" /><circle cx="450" cy="700" r="1" fill="white" /><circle cx="600" cy="800" r="1" fill="white" /><circle cx="750" cy="900" r="1" fill="white" /><circle cx="900" cy="1000" r="1" fill="white" /><circle cx="100" cy="1100" r="1" fill="white" /><circle cx="300" cy="1200" r="1" fill="white" /><circle cx="500" cy="1300" r="1" fill="white" /><circle cx="700" cy="1400" r="1" fill="white" /><circle cx="900" cy="1500" r="1" fill="white" /><circle cx="150" cy="1600" r="1" fill="white" /><circle cx="350" cy="1700" r="1" fill="white" /><circle cx="550" cy="1800" r="1" fill="white" /><circle cx="750" cy="1900" r="1" fill="white" /><circle cx="950" cy="2000" r="1" fill="white" /></svg>');
  animation: stars 50s linear infinite;
}

.space-background::after {
  top: 100%;
}

@keyframes stars {
  from { transform: translateY(0); }
  to { transform: translateY(-100%); }
}

.navbar {
  position: absolute;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  z-index: 1000;
}

.logo img {
  width: 150px;
  height: auto;
}

.title {
  font-family: 'Starjedi', sans-serif;
  color: white;
  text-align: center;
  margin-top: 125px;
  font-size: 2.5rem;
}

/* Styles for the main container */
.container {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center vertically */
  align-items: center;
  min-height: calc(100vh - 350px);/* Ensure the container fills the viewport */
  padding: 20px; /* Internal spacing */
}


/* Styles pour le formulaire */
form {
  background: rgba(255, 255, 255, 0.1);
  padding: 2rem;
  border-radius: 8px;
  text-align: center;
  width: 100%;
  max-width: 400px;
  margin-top: 50px;
}

/* Styles pour le bouton de soumission */
input[type="submit"] {
  background-color: #ff4444;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-family: 'Starjedi', sans-serif;
}

input[type="submit"]:hover {
  background-color: #ff0000;
}

.file-input {
  margin-top: 15px; 
}

/* Ajoute une media query pour les écrans plus petits */
@media (max-width: 768px) {
  .title {
    margin-top: 80px; /* Réduit la marge supérieure pour les petits écrans */
    font-size: 2rem; /* Réduit la taille de la police pour les petits écrans */
  }

  .navbar {
    padding: 0.5rem 1rem; /* Réduit l'espacement de la navbar pour les petits écrans */
  }

  .logo img {
    width: 100px; /* Réduit la taille du logo pour les petits écrans */
  }

  .container {
    margin-top: 10px; /* Réduit la marge supérieure du conteneur */
  }

  .plan {
    margin-top: 50px; /* Réduit la marge supérieure du texte "Plan Sélectionné" */
  }
}

/* Styles pour les écrans très petits (mobile) */
@media (max-width: 480px) {
  .title {
    margin-top: 60px; /* Réduit encore la marge supérieure pour les très petits écrans */
    font-size: 1.5rem; /* Réduit davantage la taille de la police */
  }

  .navbar {
    padding: 0.5rem; /* Réduit encore l'espacement de la navbar */
  }

  .logo img {
    width: 80px; /* Réduit encore la taille du logo */
  }

  .container {
    margin-top: 5px; /* Réduit encore la marge supérieure du conteneur */
  }

}

.message {
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 4px;
    margin-top: 25px
}
.message.success {
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
}
.message.error {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
}
