* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Starjedi';
  src: url('fonts/Starjedi.ttf') format('truetype');
}

html, body {
  height: 100%;
  overflow-x: hidden;
}

body {
  background: url('logo/bg_level10.jpg') no-repeat center center fixed;
  background-size: cover;
  color: white;
  font-family: Arial, sans-serif;
  position: relative;
  padding-bottom: 60px; /* Espace pour le footer */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  z-index: 1000;
}

.logo img {
  width: 150px;
  height: auto;
}

.title {
  text-align: center;
  margin: 0; /* Supprime la marge pour éviter le décalage */
  width: 100%; /* Assure un centrage parfait */
  font-family: 'Starjedi', sans-serif;
}

.container {
  max-width: 800px;
  margin: 50px auto;
  padding: 20px;
  background-color: #111;
  border: 2px solid #ffe81f;
  border-radius: 10px;
  position: relative;
  top: 10%; /* Descendre légèrement le formulaire */
}

h1 {
  font-size: 3em;
  margin-bottom: 20px;
}

p {
  font-size: 1.2em;
  margin-bottom: 20px;
}

.characteristics {
  text-align: left;
  margin: 0 auto;
  max-width: 600px;
}

.characteristics div {
  margin-bottom: 10px;

}
#result{
  color: black;
  text-align: center;
  font-weight: bold;
}
.button {
  background: #111; /* Fond sombre pour le conteneur */
  border: 2px solid #ffd700; /* Bordure jaune doré */
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(255, 215, 0, 0.5); /* Ombre jaune */
  padding: 20px;
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
  margin-top: 5%;
}
.button {
  color: #ffd700; /* Titre en jaune doré */
  font-size: 3em;
  margin-bottom: 20px;
  text-shadow: 2px 2px 4px #000; /* Ombre pour un effet 3D */
}
.button {
  font-size: 1.5em;
  color: #ffd700; /* Texte en jaune doré */
  margin: 10px 0;
}

.button:hover {
  background-color: rgba(255, 215, 0, 0.2); /* Ajoute un léger fond doré au survol */
  box-shadow: 0 0 10px rgba(255, 215, 0, 0.5); /* Ajoute une lueur dorée au survol */
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  text-align: center;
  padding: 10px 0;
  z-index: 1000;
}
